* {
    box-sizing: border-box;
}

:root {
    --size: 150px;
}

.container > div {
    height: var(--size);
    width: var(--size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.container {
    display: grid;
    grid-template-columns: var(--size) var(--size) var(--size);
}

.xSelect {
    background-color: blue;
}

.oSelect {
    background-color: red;
}